Source: android-platform-external-libselinux
Section: libs
Priority: optional
Maintainer: Android tools Maintainer <android-tools-devel@lists.alioth.debian.org>
Uploaders: Kai-Chung Yan <seamlikok@gmail.com>,
           Hans-Christoph Steiner <hans@eds.org>
Build-Depends: debhelper (>=9),
               dh-exec,
               libpcre3-dev
Standards-Version: 3.9.6
Homepage: https://android.googlesource.com/platform/external/libselinux
Vcs-Git: https://anonscm.debian.org/git/android-tools/android-platform-external-libselinux.git
Vcs-Browser: https://anonscm.debian.org/cgit/android-tools/android-platform-external-libselinux.git

Package: android-libselinux
Architecture: linux-any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Security-Enhanced Linux for Android
 This library provides an API for SELinux applications to get and set process
 and file security contexts and to obtain security policy decisions.
 .
 This library is an AOSP fork of libselinux, adding features specifically for
 Android and is intended for Android libraries only.

Package: android-libselinux-dev
Section: libdevel
Architecture: linux-any
Depends: android-libselinux (= ${binary:Version}), ${misc:Depends}
Description: Security-Enhanced Linux for Android - Development files
 This library provides an API for SELinux applications to get and set process
 and file security contexts and to obtain security policy decisions.
 .
 This library is an AOSP fork of libselinux, adding features specifically for
 Android and is intended for Android libraries only.
 .
 This package provides the development files.