#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

UPSTREAM_TAG = android-$(subst +,_,$(DEB_VERSION_UPSTREAM))
export ANDROID_LIBVERSION = $(subst +r,.,$(DEB_VERSION_UPSTREAM))
export ANDROID_SOVERSION = $(shell echo $(ANDROID_LIBVERSION) | cut -c-1)

%:
	dh $@

override_dh_auto_build:
	make -f debian/Makefile

override_dh_auto_clean:
	dh_auto_clean
	make clean -f debian/Makefile

get-orig-source: $(UPSTREAM_TAG).tar.gz
	mk-origtargz --repack --compression xz $<

$(UPSTREAM_TAG).tar.gz:
	wget https://android.googlesource.com/platform/external/libselinux/+archive/$(UPSTREAM_TAG).tar.gz