#!/usr/bin/make -f

export UPSTREAM_LIBVERSION = 5.1.1.8
UPSTREAM_TAG = android-6.0.0_r26

%:
	dh $@

override_dh_auto_build:
	make -C src -f ../debian/Makefile

override_dh_auto_clean:
	dh_auto_clean
	make -C src clean -f ../debian/Makefile

get-orig-source: $(UPSTREAM_TAG).tar.gz
	mk-origtargz --repack --compression xz $<

$(UPSTREAM_TAG).tar.gz:
	wget https://android.googlesource.com/platform/external/libselinux/+archive/$(UPSTREAM_TAG).tar.gz